@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/open-sans-webfont.woff2") format("woff2"),
       url("../fonts/open-sans-webfont.woff") format("woff"),
       url("../fonts/open-sans.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  font-style: normal;
  src: url("../fonts/open-sans-bold-webfont.woff2") format("woff2"),
       url("../fonts/open-sans-bold-webfont.woff") format("woff"),
       url("../fonts/open-sans-bold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/open-sans-extrabold-webfont.woff2") format("woff2"),
       url("../fonts/open-sans-extrabold-webfont.woff") format("woff"),
       url("../fonts/open-sans-extrabold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/open-sans-light-webfont.woff2") format("woff2"),
       url("../fonts/open-sans-light-webfont.woff") format("woff"),
       url("../fonts/open-sans-light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: italic;
  src: url("../fonts/open-sans-light-italic-webfont.woff2") format("woff2"),
       url("../fonts/open-sans-light-italic-webfont.woff") format("woff"),
       url("../fonts/open-sans-light-italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  font-weight: 600;
  font-style: italic;
  src: url("../fonts/open-sans-semibold-italic-webfont.woff2") format("woff2"),
       url("../fonts/open-sans-semibold-italic-webfont.woff") format("woff"),
       url("../fonts/open-sans-semibold-italic.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Open Sans Condensed";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/open-sans-condensed-light-webfont.woff2") format("woff2"),
       url("../fonts/open-sans-condensed-light-webfont.woff") format("woff"),
       url("../fonts/open-sans-condensed-light.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/ubuntu-webfont.woff2") format("woff2"),
       url("../fonts/ubuntu-webfont.woff") format("woff"),
       url("../fonts/ubuntu.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Ubuntu";
  font-weight: 700;
  font-style: italic;
  src: url("../fonts/ubuntu-bold-italic-webfont.woff2") format("woff2"),
       url("../fonts/ubuntu-bold-italic-webfont.woff") format("woff"),
       url("../fonts/ubuntu-bold-italic.ttf") format("truetype");
  font-display: swap;
}
